@import 'mixins';

body{
  color: white;
}


.button-container{
  @include positionning(absolute , 80% , 0%);
  display: flex;
  flex-direction: row;

}
.btn-recap {
  @include button-style(rgb(255, 165, 54), 20 ,40 , 20);
  padding : 10px;
  margin : 5px;
}
.first-btn-recap {
  @include button-style(rgb(87, 199, 113), 20 ,40 , 20);
  padding : 10px;
  margin : 5px;
  margin-left: 80px;
}

